{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}

Youtube2MP3

{% endblock %}

{% block styles %}
<!-- users styles here-->
{{ super() }}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap5.css">

{% endblock %}

<style type="text/css">
    td.custd { font-size : xx-small}
</style>

{% block head %}
{{ super() }}
    <link rel="shortcut icon" href="{{ proxy_uri }}static/raiders.gif" type="image/x-icon>">
    <link rel="icon" href="{{ proxy_uri }}static/raiders.gif" type="image/x-icon>">
{% endblock %}

{% block navbar %}
{{ super() }}

<!-- Navbar -->
  <nav class="navbar navbar-inverse fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="videoq">
        <ul class="navbar-nav me-auto mb-2 mb-lg-3">
          <li class="nav-item">
            <a class="navbar-brand" href="{{ proxy_uri }}tiny">Tiny</a>
          </li>
          <li class="nav-item">
            <a class="navbar-brand" href="{{ proxy_uri }}150">150</a>
          </li>
          <li class="nav-item">
            <a class="navbar-brand" href="{{ proxy_uri }}250">250</a>
          </li>
            <li class="nav-item">
            <a class="navbar-brand" href="{{ proxy_uri }}360">360</a>
          </li>
            <li class="nav-item">
            <a class="navbar-brand" href="{{ proxy_uri }}">480</a>
          </li>
            <li class="nav-item">
            <a class="navbar-brand" href="{{ proxy_uri }}720">720</a>
          </li>
          <li class="nav-item">
            <a class="navbar-brand" href="{{ proxy_uri }}best">Best</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>

{% endblock %}

{% block content %}
<div class="container container-fluid">
    <h2><img src="{{ proxy_uri }}static/raiders.gif">&nbsp;YOUTUBE --> MP3 (<small>video quality = {{ videoq }}</small>)</h2>

    <p class="panel-info">Версия {{ version }}</p>
    <div class="container panel-body">
        <form method="POST">
            {{ d_form.hidden_tag() }}
        <table border="0", width="100%", align="center">

            <tr>
                <td colspan="7">{{ d_form.yt_url.label(class="control-label") }}</td>
            </tr>
            <tr>
                <td colspan="7">{{ d_form.yt_url(class="form-control") }}</td>
            </tr>
            <tr>
                <td colspan="7">&nbsp;</td>
            </tr>
            <tr>
                <td width="15%" align="left"> {{ d_form.save_video.label }}&nbsp;&nbsp;{{ d_form.save_video() }} </td>
                <td width="12%" align="left">{{ d_form.start_from.label }}</td>
                <td width="10%" align="left">{{ d_form.start_from(class="form-control") }}</td>
                <td width="7%"  align="left">&nbsp;&nbsp;</td>
                <td width="10%" align="left">{{ d_form.stop_at.label }}</td>
                <td width="10%" align="left">{{ d_form.stop_at(class="form-control") }}</td>
                <td width="36%" align="right">{{ d_form.stop(class="btn btn-default") }}&nbsp;&nbsp;{{ d_form.submit(class="btn btn-default") }}</td>
            </tr>
        </table>
        </form>
    </div>
    <div class="container vertical-scrollable">
    Status: <span id="time"><span>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}

<script type="text/javascript" charset="utf8" src="https:///cdn.datatables.net/plug-ins/1.11.5/dataRender/datetime.js"></script>
<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap5.js"></script>


<script>
(function worker() {
  $.get('{{ proxy_uri }}data', function(data) {
    $('#time').html(data);    // update page with new data
    setTimeout(worker, 1000); // run `worker()` again after 1000ms (1s)
  });
})();


</script>
{% endblock %}
